footer {

    width: 100%;
    height: 5px;
    background-color: #700;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    width: 110%;
    margin: 0 auto;
  }
  
  p {
    margin: 0;
    text-align: center;
  }
  